.POSTHOLDER{
    position: relative;
    width: 98%;
    height: 98%;
    border-radius: 5px;
    left: 1%;
    background: #c5c5c3;
    display: block;
    overflow: hidden;
    margin-top: 0.5rem;
}

.PostImage{
    position: absolute;
    width: 100%;
    height: 90%;
}

.PostFunctions{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background: #9b9b97;
    display: inline-flex;
}

#UserProfileIcon{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}